[2017-04-29 11:11] supereagle opened #16 "Fail to generate kubectl docs"
As I need to update the kubectl docs in [k8s io PR 3540](https://github.com/kubernetes/kubernetes.github.io/pull/3540), but I fail to generate kubectl docs according to the [doc](https://github.com/kubernetes-incubator/reference-docs#generate-new-kubectl-docs) for reasons:
- `k8s.io/kubernetes/cmd/genkubedocs/gen_kube_docs.go` mentioned in the doc can generate docs for other k8s components except

[2017-05-01 21:17] pwittrock commented on #16
@supereagle Good catch.  Updated the instructions.  Let me know if they work for you now.

[2017-05-01 21:17] #16 closed

[2017-05-02 14:10] supereagle commented on #16
@pwittrock  It works now, thanks.

The [kubernetes PR 44607](https://github.com/kubernetes/kubernetes/pull/44607) to update kubectl apply doc is merged into master branch, but not cherry-picked into release-1.5 and release-1.6 branch. I am not sure whether there is need to update the `kubectl.yaml` in this repo.

[2017-05-02 17:43] pwittrock commented on #16
Yes, you won't see the changes without cherrypicking the change.  I guess you could manually update the kubectl.yaml if we just want to update the docs without cherrypicking the change.

[2017-05-03 02:45] supereagle commented on #16
I have submitted the PR #17 to update kubectl.yaml.

[2017-10-05 07:58] chrislovecnm opened #31 "generate cli docs for kops"
What would it take?  We are using the old school format for markdown.

[2017-10-28 13:04] chrislovecnm opened #32 "Question on install"
I had to install `go install k8s.io/code-generator/cmd/lister-gen` recently.  Do we have updated install instructions?

[2017-11-22 06:48] edisonxiang opened #33 "Missing name field in Pod example in docs"
**What happened**:
https://kubernetes.io/docs/api-reference/v1.8/#pod-v1-core shows an example of a Pod but the container does not have a name which is a required field (I get an error from kubectl with this example).

**Anything else we need to know?**:  linked with [this issue](https://github.com/kubernetes/kubernetes/issues/55838).

**Environment**:
Kubernetes version (use kubectl version): hea

[2017-12-06 22:39] adnavare commented on #33
Hi @edisonxiang : Is this issue still open? Are you submitting a new commit?

[2018-02-14 11:59] tengqm opened #44 "Fix the verbs documented in static file"
There has been complaint about the verbs used in the overview section.
The reason is that the verbs documented in the following static file is confusing.

reference-docs/gen-apidocs/generators/static_includes/_overview.md

See: https://github.com/kubernetes/website/issues/3186

[2018-05-24 14:47] jessfraz opened #49 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-08-04 03:10] spiffxp opened #54 "Create an OWNERS file"
ref: https://github.com/kubernetes/community/issues/1721

This repo is listed in sigs.yaml as belonging to sig-docs, but it lacks an OWNERS file.  Can you please add one with the appropriate list of approvers and reviewers? eg:
- [robust example: approvers, reviewers, aliases](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/OWNERS)
- [simple example: only approvers, no

[2018-08-20 16:16] #54 closed

[2018-09-18 07:22] janosi opened #58 "Mistyped env var in Makefile"
In the Makefile I can see:
cp $(CLISRC)/scroll.js $(**CLEDST**)/scroll.js

I guess, it should be
cp $(CLISRC)/scroll.js $(**CLIDST**)/scroll.js

Please confirm or correct my understanding!

[2018-09-18 08:02] tengqm commented on #58
You are correct.

[2018-10-04 18:17] janosi commented on #58
@tengqm @SaphMB I am sorry, I wanted to fix this, but had no time so far :(

[2018-10-13 07:55] janosi commented on #58
Closed with https://github.com/kubernetes-incubator/reference-docs/pull/61
/close

[2018-10-13 07:55] #58 closed

[2018-12-21 10:10] fejta commented on #49
Required SECURITY_CONTACTS file still does not exist. Please resolve as soon as possible.

[2018-12-21 10:56] fejta commented on #49
kubernetes-incubator/reference-docs still needs a SECURITY_OWNERS file.
/assign @pwittrock @steveperry-53 @tengqm @spiffxp @chenopis @nikhita

[2018-12-21 10:57] fejta commented on #49
kubernetes-incubator/reference-docs still needs a SECURITY_OWNERS file.
/assign @pwittrock @steveperry-53 @tengqm @spiffxp @chenopis @nikhita

[2019-01-23 12:58] #49 closed

[2019-06-20 23:14] #31 closed

[2019-06-21 01:16] #32 closed

[2019-06-21 07:22] #33 closed

[2019-06-21 20:35] #44 closed

[2019-06-28 15:12] kbhawkey opened #79 "update bootstrap css"
The k8s docs have upgraded the version of bootstrap to 4.3.1.
See https://github.com/kubernetes/website/pull/14775. Let's update the version of bootstrap included in the reference guides. This change could simply copy the boostrap assets from k8s/website during the `copy` phase of the tool/reference generation so that the versions are always in sync. Verify that other assets should be updated, suc

[2019-08-22 18:11] kbhawkey commented on #79
Closing as this will be resolved by using the bootstrap assets from k8s/website.
/close

[2019-08-22 18:11] #79 closed

[2019-08-26 16:07] hjacobs opened #83 "kubectl Reference docs are unusable on mobile"
I stumbled over this yesterday during a train travel: I wanted to look up `kubectl` command line flags on my phone (Google Pixel 2) and found that the reference docs are pretty much unusable on mobile right now:

![EC2atfyWkAIlP9z](https://user-images.githubusercontent.com/510328/63704878-4861dc80-c82c-11e9-9fb8-717f4259e10d.jpg)

The layout seems to be not working in portrait mode on my phone.

M

[2019-08-26 16:25] nikhita commented on #83
I believe the source of the docs is here: https://github.com/kubernetes-incubator/reference-docs

/cc @tengqm

[2019-09-12 06:04] tengqm commented on #83
Ya. The Web UI was not designed for mobile. We are discussing whether/when to migrate to pure markdown doc generation for kubectl.

[2019-12-10 01:19] tengqm opened #96 "Improve API reference for non-resource paths"
The current doc generator is centered around resources and operations on them. There are quite a few other non-resource paths which can/should be processed. Need to:

- figure out a way to present them;
- remove them from the blacked list.

[2019-12-11 06:16] tengqm commented on #83
/lifecycle freeze

[2019-12-11 06:16] tengqm commented on #83
/remove-lifecycle stale

[2019-12-19 16:59] kbhawkey opened #97 "bootstrap.min.css (4.3.1), js"
The updated bootstrap.min.css file is `js` not css:
https://github.com/kubernetes-sigs/reference-docs/blob/master/gen-apidocs/generators/static/bootstrap.min.css

Solution:
Fix the generation of head in index.html to use the cdn or obtain the css for 4.3.1.
[code]

[2019-12-21 11:18] #97 closed

[2019-12-24 00:48] kbhawkey opened #99 "modify http-cache, kubectl, gen-compdocs"
With Kubernetes v1.17, kubectl `cache-dir` default value contains a resolved value for $HOME.
Substitute resolved value with `$HOME`.
-cache-dir Default: "$HOME/.kube/http-cache"

[2019-12-24 01:16] tengqm commented on #99
Do you mean the `$HOME` one? I don't think we get a chance to see the special character. The default value was already set to current user's home directory before we know its existence.

[2019-12-24 02:58] kbhawkey commented on #99
Yes, `$HOME`. This issue is new with v1.17. Is it possible to change in k8s/k8s?

[2019-12-24 03:27] tengqm commented on #99
@kbhawkey I'm not optimistic about this. See the code here:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/cli-runtime/pkg/genericclioptions/config_flags.go#L57

and where it is referenced before we check the config structure:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/cli-runtime/pkg/genericclioptions/config_flags.go#L326

[2019-12-24 03:27] tengqm commented on #99
xref: https://github.com/kubernetes/website/pull/18010#pullrequestreview-328878902

[2019-12-24 15:58] kbhawkey opened #100 "api reference, v1.17, toc, missing definitions"
[code]

[2019-12-24 17:12] kbhawkey commented on #99
OK. Thanks for clarifying.
Possibly clean up content in gen'ed table:

[code]

[2019-12-25 01:38] tengqm commented on #100
Thanks for filing this. @kbhawkey

[2019-12-25 18:43] #100 closed

[2019-12-29 01:35] kbhawkey opened #104 "scroll.js, navbar, API ref"
For some time now, there appears to be a scrolling/navigation issue in the API ref.
After selecting some item in the left nav list, the selected section is displayed in the main page.
However, the left navigation does not remain on the selected item.
Instead, the nav. list displays another unrelated item, such as:
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#watch-list-csin

[2019-12-29 01:44] kbhawkey opened #105 "API ref, navbar text strings"
**Problem**:
The strings in the API reference left navbar list exceed the fixed display area.

**Solution**:
Possibly increase the width for this component or modify the
overflow-x field to `auto`.
Update stylesheet.css.

[code]

[2019-12-30 01:04] tengqm commented on #105
Em.. good idea.
I'm also thinking if we should allow the left nav bar to be toggled on/off.

[2019-12-30 06:54] tengqm commented on #104
Looks like the watch list node for CSINode resource is causing some problems. Will investigate.

[2019-12-31 18:02] kbhawkey commented on #104
@tengqm , Check out config.yaml, lines 84 -86. Is the version correct? The 1.17 API reference link in the left nav shows `v1beta1`.
Would it be possible to auto-generate config.yaml from swagger.json? Manually maintaining this list seems error prone.

[code]

[2019-12-31 18:14] kbhawkey opened #107 "scrolling main page, no movemt left nav"
The scrolling/navigation of the main API reference section could be improved.
After selecting an item in the left navigation list, the selected section is displayed in the main page.
However, when using the main page scrollbar, the left navigation bar should not receive any events (remain on the list item that was previously selected). The scrolling of the main page is jumpy.
**The reference secti

[2019-12-31 19:18] kbhawkey opened #108 "api ref: versioned directory (swagger.json,config.yaml)"
Create a mechanism to version swagger.json and config.yaml.

Note from PR #103:

[code]

[2019-12-31 19:19] kbhawkey commented on #108
Temporarily assigning myself.
/assign

[2020-01-02 01:08] tengqm commented on #104
@kbhawkey Good spot. The current API reference doc is incorrect. I hope when https://github.com/kubernetes/website/pull/18067 is in, the navigation error will go away.

Generating config.yaml would be very difficult if possible at all. We need  to distinguish the top level resources (e.g. `Pod`) from the nested resources (e.g. `PodSpec`, `CSIDriver`). Then we need to collect all versions of a part

[2020-01-02 15:25] kbhawkey commented on #104
Just checked generated API reference in PR 18067. The left navigation appears to be fixed.

[2020-01-04 01:47] kbhawkey opened #109 "kubectl: versioned directory, static files"
The kubectl cmd reference attempts to version the files in the static_includes directory as well as the toc.yaml file. Typically, this structure is manually updated per release, but has not been kept up to date. Periodically the toc.yaml file requires a change for successful doc generation.

- create a script to update the static files in this repo for new releases.
- create a designated branch fo

[2020-01-04 01:48] kbhawkey commented on #109
Plan to write up some notes I have about suggested way to accomplish this task.
Temporarily assigning myself until I publish the notes.
/assign

[2020-01-04 12:31] #105 closed

[2020-01-04 12:43] kbhawkey commented on #108
I think this repo needs to maintain the files required for generating the versioned docs.
The static files need to be accessible and exist from build to build (assets), not temporary build files.

I am in favor of a more permanent solution:
Create a script to update the static files in this repo for each new release. Run the script and commit the changes as a dependency of the reference docs relea

[2020-01-04 12:44] kbhawkey commented on #109
See PR #108 .

[2020-01-04 12:48] kbhawkey commented on #104
/close

[2020-01-04 12:48] #104 closed

[2020-01-04 14:21] kbhawkey opened #111 "api ref, page focus"
This appears to be a new API reference issue (v1.17).
If you select a new item in the left nav, the focus of the main page is displayed off to the left (scrolling). The view should show the main page.

[2020-01-05 22:59] kbhawkey opened #113 "share assets: js,css,fonts for all references"
It would be easier if the kubectl-command and api-reference shared the static assets (js, font, css files).

[2020-01-07 16:37] kbhawkey opened #118 "migrate kubectl reference"
This is an umbrella issue to capture ideas for updating the kubectl command reference.
- Related to PR #83.
- The kubectl reference is difficult to read and navigate and is not easily maintained.
- The kubectl reference generation is error prone and typically the generated output has encountered a number of text formatting issues.

Come up with a solution to stabilize the kubectl command reference

[2020-01-08 01:09] tengqm opened #119 "Use new upstream for generating reference doc for kubeadm"
According to

- [moving kubeadm out of kubernetes/kubernetes](https://docs.google.com/document/d/1xFAGAjfPQZrcqmapTwpJR5aUA7-2ku1asVeq3dBrjnQ/edit?pli=1#heading=h.58e6aprofbeq)
- [KEP 1425](https://github.com/kubernetes/enhancements/pull/1425)

we are supposed to use the kubernetes/kubeadm repo as the upstream for reference code generation.

[2020-01-08 01:17] tengqm commented on #118
One of the complaints we got is about the "examples". I'm not sure how useful they are but I'm unhappy about the fact that the examples layout is eating too much area of the screen.
For API reference, generating HTML directly is not optimal. There is still a tradeoff between having one huge HTML and having separate HTMLs for each group/kind/operation.
Generating markdown files from these generator

[2020-01-08 02:20] kbhawkey commented on #118
I agree with you about directly generating HTML (not Markdown). Some more ideas:
- The kubectl examples could be added to the main page for the command instead of in a separate container.
- The references could use a single code base or part of a common code base -- same backend and similar look-and-feel. Improve the navigation.

[2020-01-08 18:12] neolit123 commented on #119
thanks for logging the ticket.
i will keep in touch with #sig-docs once we are going to take action on this change.

/sig docs cluster-lifecycle
/assign

[2020-01-09 01:52] tengqm opened #121 "Capture and dump content type?"
xref: kubernetes/website#14834

There are users who are wondering about the valid content-type to use for each API (types). We may want to figure out where/how to support this in the API reference.

[2020-01-09 14:24] kbhawkey opened #122 "API ref: typo in config.yaml"
See PR #117.

[2020-01-09 14:25] kbhawkey commented on #122
CSINode is version `v1beta1` not `v1`.
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#csinode-v1-storage-k8s-io

[2020-01-09 15:31] kbhawkey opened #123 "api ref: style, container or container-fluid"
The class attribute for the html body was changed to use the `container` attribute over the `container-fluid` attribute.
This change prevents the text from the main page "overflowing", but squashes the text in the
individual table fields. There is also unused page space on the right hand side (viewing on Ubuntu laptop smallish screen).

https://github.com/kubernetes-sigs/reference-docs/blob/master

[2020-01-10 01:24] kbhawkey opened #124 "gen-kubectldocs, embedded links"
As of v1.17, the generated kubectl-command reference has extra right brackets in strings that contain hyperlinks. See PR, https://github.com/kubernetes/website/issues/18444.
For example, strings found in the Flags table for the flag, `template` under the `Usage` column. The reference was manually fixed as a temporary workaround for the 1.17 release.

If you run `kubectl`, the help content contains

[2020-01-10 05:27] tengqm opened #127 "Work out a new way to get the API version"
With https://github.com/kubernetes/kubernetes/pull/84654 approved and back ported to many versions, we won't be able to tell which version a API spec is for. This is really sad thing. We will need a different way to get the version and make sure we are not making mistakes ...

[2020-01-10 18:50] kbhawkey commented on #127
I read through kubernetes/kubernetes/#84654. Thanks for pointing that out.
I asked few questions and basically, you can run the API server and `fetch` the spec or:

[code]
The spec gen'ed from the API server is complete, the static tagged/release spec is missing the info.version field.

[2020-01-10 21:29] kbhawkey commented on #122
Version already changed.
/close

[2020-01-10 21:29] #122 closed

[2020-01-11 01:53] kbhawkey commented on #127
So, I would imagine that a copy of the spec could be saved in a versioned dir or obtained to match the release, but not saved in a base or common location (always versioned).

[2020-01-11 10:20] tengqm commented on #127
Yes. "versioned config" was something nice to have but now because something desirable.

[2020-01-14 21:08] kbhawkey commented on #127
@tengqm ,
Thinking some more on versioning.
I plan to update and test the import script and directory setup script setting the K8S_RELEASE var as the branch tag. The current string is close, but the script would be improved if this string matched.
The tag can be used to identify the swagger file (change the updateapisepc target).
The swagger file could be saved to a versioned dir, as it is now, an

[2020-01-15 02:16] tengqm commented on #127
@kbhawkey Since the upstream make change the API spec in a release branch, pinning to branch names is obviously not a solution. We should use tags, e.g. `1.16.1`, `1.17.0` etc.
I am not anticipating a strong requirement for documenting all the patch versions from `1.16.0` to `1.16.4` or from `1.14.0` to `1.14.10`. So maybe serving `1.16.0` and `1.17.0` etc would be sufficient. We are not notified

[2020-01-15 14:00] kbhawkey commented on #127
@tengqm , Yes, I am suggesting tags over branch names. Is there be a requirement to build from the `release-1.17` branch? It would certainly be easier and more predictable to just build docs that match a tagged release (and nothing in between).
I agree that documenting patch versions is unnecessary at this time.
I like your idea about pulling the version string from the K8S_RELEASE variable.

[2020-01-16 01:55] tengqm commented on #127
I think this can be closed. The propose solution should work well to address this.

[2020-01-22 23:09] neolit123 commented on #119
@tengqm hi, after discussions with SIG Release, and due to some complications related to the k/release repo tooling, we are delaying the move to the k/kubeadm repository for the release of 1.19.

[2020-01-23 00:59] tengqm commented on #119
@neolit123 Thanks for the info.

[2020-01-25 23:35] kbhawkey commented on #118
I am temporarily assigning myself.
I started to update the code to directly generate HTML as well as clean up the css, js, toc.yaml. Will post what I have shortly.
/assign

[2020-03-07 06:36] tengqm opened #134 "Highlight deprecated options in generated reference docs"
ref: kubernetes/website#17981

[2020-03-07 09:29] tengqm opened #135 "Document global options in kubectl reference documentation"
xref: kubernetes/website#17178

[2020-03-09 02:44] tengqm commented on #96
/remove-lifecycle stale

[2020-03-09 07:51] tengqm commented on #118
xref: kubernetes/website#14904

[2020-03-21 01:59] tengqm opened #136 "Tweak the page content style"
The current 'page-content container' class assigned to the right (main) panel needs some  tweaking:

- The current style is wasting some real estate on screen.
- We'd better add some attributes to the tables so that the property name column is not too narrow (xref: kubernetes/website#19757)

[2020-03-21 08:03] Arhell commented on #136
@tengqm
Hello, please see the solution
https://github.com/kubernetes/website/pull/19771
---------------------------------------------------------------------------------
https://deploy-preview-19771--kubernetes-io-master-staging.netlify.com/docs/reference/generated/kubernetes-api/v1.17/

[2020-03-21 15:48] Arhell commented on #136
ping @tengqm
#137

[2020-03-23 11:54] tengqm commented on #136
Related: https://github.com/kubernetes/website/issues/19795

[2020-03-23 15:56] alculquicondor opened #138 "Generating reference docs for kube-scheduler"
Ref: kubernetes/kubernetes#88919

I've successfully been able to generate docs for kube-scheduler APIs using https://github.com/ahmetb/gen-crd-api-reference-docs

Could anyone give me guidance on how to integrate it in this repo?

In particular, is there any template I can use?

[2020-03-23 22:22] kbhawkey commented on #99
/remove-lifecycle stale

[2020-03-23 22:35] kbhawkey commented on #138
@alculquicondor , Great! **The release is tommorow**.
Did you generate a single page HTML file?
Instead, you could add a page to k8s/website (or include this reference in one of the scheduler pages) and include the html?
I _think_ the release is tomorrow (evening). This may have to go in after the release.
Check out, https://github.com/kubeflow/website/tree/master/gen-api-reference.
The generated

[2020-03-25 11:48] tengqm commented on #118
xref: https://github.com/Birdrock/brodocs/pull/9 and the issue: https://github.com/kubernetes/website/issues/19519

[2020-03-25 20:55] kbhawkey opened #141 "verify config directory checks for kubectl generator"
I ran into a problem when running the update-imported-docs script for the 1.18 release.
Previously, I set up the reference configuration directories because some of the references required configuration changes for the release (run make `createversiondirs`).
The gen-kubectldocs/generators/v1_18/toc.yaml was written over (typical behavior if release dir does not exist) instead of reusing the toc.ya

[2020-03-26 14:02] kbhawkey commented on #138
@alculquicondor , What do you think about adding a new target to the Makefile to:
1. Generate the scheduler API reference
1. Copy the generated reference to the k8s/website directory (like the other references)
1. Include this HTML in a Markdown page under the new scheduler reference directory  (https://kubernetes.io/docs/reference/scheduling/). Will have to see how the page can incorporate a styl

[2020-03-26 14:05] alculquicondor commented on #138
Sorry I missed this response.
Yes, I generated a single page HTML file, but it looks very barebones without a proper template.
Should I include a script in this repository?

I'm not sure what you mean here. Like adding an iframe? I was just thinking of copying it to kubernetes/website/tree/master/static/docs/reference/generated

[2020-03-26 14:20] kbhawkey commented on #138
Yes, copy to generated location. I am thinking the output could generate a Markdown page or include the generated output in a static Markdown page (that you create).
[code]

There are a number of Markdown pages in k8s/website that include HTML snippets.
The tables will need some attributes so that they can be styled (bootstrap or some custom style).
Did you check out, the kubeflow->tfjob-api scrip

[2020-03-26 14:25] alculquicondor commented on #138
I did, but I didn't realize that it could produce markdown as well.
I can generate the files locally, but it might be worth to keep the script in this repository.

[2020-03-26 14:27] kbhawkey commented on #138
I don't think so, the script I am referring to concatenates the output with a .md file.
What do I need to generate the scheduler api ref (what is the command you used)? I have a clone of k8s/k8s.

[2020-03-26 14:29] kbhawkey commented on #138
Yes, add the script to this repo and update the Makefile so that the generation process can be repeated.

[2020-03-26 14:35] alculquicondor commented on #138
[code]

Except that you need to remove the blank lines between the api comments and import line in:
`k8s.io/kube-scheduler/config/v1/doc.go`, `k8s.io/kube-scheduler/config/v1alpha1/doc.go` and `k8s.io/kube-scheduler/config/v1alpha2/doc.go`. I'll submit a PR to fix this soon.

[2020-03-27 17:16] alculquicondor commented on #138
I got a fix for the tool instead https://github.com/ahmetb/gen-crd-api-reference-docs/pull/19

[2020-03-27 17:34] kbhawkey commented on #138
I am investigating if I can quickly integrate into this repo.

[2020-03-27 18:31] kbhawkey commented on #138
@alculquicondor ,
Where do I find the `api-dir`?
## does not work
/tmp/tmpdc3iihix/src/k8s.io/kubernetes/cmd/kube-scheduler/app$ ${GEN_DOCS}/gen-crd-api-reference-docs -api-dir ./config -config ${GEN_DOCS}/example-config.json -template-dir ${GEN_DOCS}/template -out-file temp_common.md

[2020-03-27 18:32] kbhawkey commented on #138
Looks like it is here?
k8s.io/kubernetes/pkg/scheduler/apis/config

[2020-03-27 18:38] alculquicondor commented on #138
you should clone `k8s.io/kube-scheduler` instead.

[2020-03-28 01:07] tengqm commented on #138
For release  1.18, should we use 0.18.0 tag or kubernetes-1.18.0 tag?
I saw client-go is using 0.x.y tags (https://github.com/kubernetes/client-go)

[2020-03-28 16:11] kbhawkey commented on #138
Hello @alculquicondor .
After testing how the generation process could work (and viewing the API output), I suggest the following:
Could you propose your ideas about adding a Kube Scheduler API reference to the SIG Docs group (mailing list and Slack channel)? See https://kubernetes.io/docs/contribute/participating/ for information about the mailing list and Slack channel.
That way SIG Docs can pro

[2020-03-28 16:38] kbhawkey commented on #138
Steps taken to generate sample Kube Scheduler API reference:

1. git clone https://github.com/kubernetes/kubernetes.git
I had a v1.18.0 k8s/k8s branch and copied `src/k8s.io/kube-scheduler` from the k8s/k8s staging area to $GOPATH/src/k8s.io .
1. git clone https://github.com/ahmetb/gen-crd-api-reference-docs. Build a `gen-crd-api-reference-docs` executable.
Set GEN_DOCS variable to location of loc

[2020-03-29 03:36] oke-py opened #144 "nginx version is too old in API reference examples"
`image: nginx:1.10` is used in examples.
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/

- Container
- Deployment
- ReplicaSet
- ReplicationController

They should be updated to `image: nginx:1.16`.
ref https://github.com/kubernetes/website/pull/19198

![nginx](https://user-images.githubusercontent.com/4710215/77839624-683df200-71b9-11ea-9598-399f9c2814de.png)

[2020-03-29 05:19] #144 closed

[2020-03-30 15:04] alculquicondor commented on #138
Could you explain this further? What's the output of an Open API spec?

[2020-03-30 16:38] kbhawkey commented on #138
Hello @alculquicondor ,

I am new to the kube-scheduler API, [k8s.io/kube-scheduler/config](https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/kube-scheduler/config).

Is this the relevant KEP: https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/wgs/0014-20180707-componentconfig-api-types-to-staging.md#kube-scheduler-changes

Are you familiar with

[2020-03-30 17:47] alculquicondor commented on #138
Yes, that's a relevant KEP.

Yes and no. I only know about it because I was looking into how to generate one for kube-scheduler.

I was only able to generate `types_swagger_doc_generated.go` files, but not the `swagger.json` kubernetes/kubernetes#88927
What's that file used for? It is my understanding that `kubernetes-sigs/reference-docs` generates the doc files from a running kube-apiserver. I do

[2020-03-31 02:45] tengqm commented on #138
Is it fair to say that the so called kube-scheduler API is only about the scheduler configuration?
A full fledged API specification contains operations in addition to type definitions. My anticipation of this is that we will face tons of resource type definitions (aka. CRDs) in the future which doesn't have their dedicated collection of operations. The only operations they support would be CRUD.

[2020-03-31 13:50] alculquicondor commented on #138
This particular API (living under `config` folder) is just about configuration, so it doesn't even have CRUD.
We have another API ([extenders](https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/kube-scheduler/extender/v1)) which is only about IPC. But for now that one is not OpenAPI.

[2020-04-02 19:58] alculquicondor commented on #138
@tengqm do you think I can proceed with the suggestions in https://github.com/kubernetes-sigs/reference-docs/issues/138#issuecomment-605467979

[2020-04-03 00:05] tengqm commented on #138
@alculquicondor Sure. Thank you in advance for this contribution.

[2020-04-07 15:43] #136 closed

[2020-04-07 15:43] kbhawkey commented on #127
/close

[2020-04-07 15:43] #127 closed

[2020-04-07 15:46] kbhawkey commented on #124
PR #142 fixes the embedded link formatting.
/close

[2020-04-07 15:46] #124 closed

[2020-04-08 03:31] tengqm commented on #121
/remove-lifecycle stale

[2020-04-08 15:47] kbhawkey opened #148 "Make HTML table output Commonmark compliant"
In preparation for upgrading Hugo (Goldmark parser),
clean up the HTML table output for all component tool pages.
https://github.com/kubernetes-sigs/reference-docs/blob/master/gen-compdocs/generators/doc.go#L296

For additional information, see issue: https://github.com/kubernetes/website/pull/19907.

[2020-04-08 21:26] kbhawkey commented on #108
/close

[2020-04-08 21:27] #108 closed

[2020-04-08 21:28] kbhawkey commented on #109
/close

[2020-04-08 21:28] #109 closed

[2020-04-08 21:28] kbhawkey commented on #113
/remove-lifecycle-stale

[2020-04-08 21:32] kbhawkey opened #149 "investigate issues with gen. kubelet flags"
The kubelet component page is not generated as part of the reference pages.
The flags become stale and require manual updates.
Investigate if this should be fixed or should the kubelet page be dropped
from the docs reference section.

[2020-04-09 16:27] kbhawkey commented on #148
/assign

[2020-04-11 02:17] kbhawkey commented on #141
/assign

[2020-04-11 02:17] kbhawkey commented on #99
/assign

[2020-04-12 18:22] kbhawkey commented on #148
/close

[2020-04-12 18:22] #148 closed

[2020-04-12 18:22] kbhawkey commented on #141
/close

[2020-04-12 18:22] #141 closed

[2020-04-12 18:33] kbhawkey commented on #99
/close

[2020-04-12 18:33] #99 closed

[2020-04-22 02:37] neolit123 commented on #119
...and after more discussions we still haven't landed an agreement on how to proceed for this item.
/lifecycle frozen

i have linked this issue in https://github.com/kubernetes/kubeadm/issues/1949 so i'm going to updated it when this is actually going to happen.

[2020-04-22 08:52] tengqm opened #151 "Improve rendering of descriptions"
Currently we are only preprocessing the field or struct descriptions by performing some HTML escapes. Actually there are markdown syntax used in the upstream code (comments) for these fields. We should and we can do a better job converting the descriptions, at least

- HTTP(S) links should be identified and automatically coverted;
- backticks should be converted to inline `<code>` tags;
- paragrap

[2020-04-29 01:26] kbhawkey opened #152 "double hyphen, component tool pages"
Use `&#8208;&#8208;` to replace literal `--` in flag strings.
Alternatively, surround literal in `<span>`.
For further information, see https://github.com/kubernetes/website/issues/20623.

[2020-04-29 02:35] tengqm commented on #152
See comments posted to kubernetes/website#20623. It looks like a Hugo issue.

[2020-04-29 11:56] kbhawkey commented on #152
Yes, I see. It may be a good idea to update this code anyway.

[2020-05-01 19:41] kbhawkey commented on #152
/close

[2020-05-01 19:41] #152 closed

[2020-05-09 01:43] tengqm commented on #113
/remove-lifecycle rotten

[2020-05-19 14:07] tengqm commented on #83
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2020-05-21 14:12] kbhawkey commented on #123
/remove-lifecycle rotten

[2020-05-21 14:35] kbhawkey opened #153 "api ref v1.18, table body not filling space"
Looking at v1.18 of the API reference, some of the tables are not filling the horizontal space.
The display is different with the v1.17 reference.
Some screen shots:
![resource_group_version_kind](https://user-images.githubusercontent.com/1696019/82569805-ba164f00-9b4e-11ea-9dff-2e06e4e673a6.PNG)
![api_ref_response_table](https://user-images.githubusercontent.com/1696019/82569809-bbe01280-9b4e-11e

[2020-05-21 14:39] kbhawkey opened #154 "API ref: navigation of main page"
Since the API reference is a single page and to improve navigation on the page,
add links to the resources names, such as, `Container v1 core`.

[2020-05-21 14:52] kbhawkey opened #155 "API ref: include a site header, footer on page"
The API and kubectl references are standalone references that do not have
tight integration with the k8s docs site.
Suggestions to improve this integration:
- Create a header and footer for the references.
- Add navigation back to the main site from the references.
- Link to the previous versions of the references.

[2020-05-29 19:46] #107 closed

[2020-06-02 16:16] #111 closed

[2020-06-05 11:32] kbhawkey commented on #135
/remove-lifecycle stale

[2020-06-07 08:57] tengqm commented on #96
/remove-lifecycle stale

[2020-06-10 01:10] kbhawkey opened #157 "modify comp. tool content type heading strings"
When the capture shortcode and templates are removed from website/content/en/docs/reference,
replace the corresponding code in the component tool generation code.

Example headings:

[code]
Example front matter:
[code]

[2020-06-10 01:10] kbhawkey commented on #157
/assign

[2020-06-10 01:12] kbhawkey commented on #157
For more information, see PR https://github.com/kubernetes/website/pull/21359

[2020-06-11 15:31] kbhawkey commented on #157
/close

[2020-06-11 15:32] #157 closed

[2020-07-05 10:02] tengqm commented on #134
/remove-lifecycle rotten

[2020-07-05 19:16] kbhawkey commented on #113
Related: PR #161.

[2020-07-05 19:31] kbhawkey opened #163 "update styling of component tool pages, docsy theme"
Since the website migrated to the Docsy theme, the rendering of the component pages has changed.
- Investigate removing/updating the `style` attribute for the `Options` tables or create a custom style sheet?
- Fix the rendered component page; the page overflows into the right hand column.

For more information, see the [kube-apiserver component page](https://kubernetes.io/docs/reference/command-li

[2020-07-30 02:01] kbhawkey opened #164 "no definitions found, 1.19 reference build testing"
In testing the build of reference docs for 1.19 found the following missing definitions:
[code]

[2020-07-30 02:01] kbhawkey commented on #164
/cc @tengqm

[2020-07-30 03:24] tengqm commented on #164
Let me look into it.

[2020-07-30 12:24] #164 closed

[2020-07-30 18:04] kbhawkey opened #167 "api ref build, 1.19, no defs found for certificatesigningrequests"
I reran the API ref build. The script reported only three warnings:

[code]

[2020-07-30 18:04] kbhawkey commented on #167
/cc @tengqm

[2020-07-31 02:11] #167 closed

[2020-08-06 15:44] kbhawkey commented on #121
/remove-lifecycle stale

[2020-08-26 02:39] tengqm commented on #151
/remove-lifecycle rotten
This is still relevant.

[2020-08-31 02:04] #138 closed

[2020-09-05 10:44] tengqm commented on #96
/remove-lifecycle stale

[2020-09-05 16:15] #121 closed

[2020-09-05 23:22] #149 closed

[2020-09-06 06:04] tengqm commented on #123
/close
This seems resolved. Can reopen if it bubbles up again.

[2020-09-06 06:04] #123 closed

[2020-09-06 06:05] tengqm commented on #135
/remove-lifecycle stale

[2020-09-06 06:11] tengqm commented on #155
/remove-lifecycle stale

[2020-10-03 10:16] irvifa commented on #134
/remove-lifecycle stale

[2020-10-03 20:16] irvifa commented on #163
/remove-lifecycle stale

[2020-10-11 12:52] feloy opened #173 "Splitting the API ref into several Markdown pages"
As part of my Google Season of Docs project (https://developers.google.com/season-of-docs/docs/participants/project-cncf-feloy), I would like to work on the `gen-apidocs` tool, so it can output several Markdown files, in a format supported by Hugo/Docsy for k/website.

I propose to add a second implementation of the `DocWriter` interface, implementing the Markdown for Docsy output.

[2020-10-11 12:57] tengqm commented on #173
Looking forward to your code.

[2020-10-11 13:01] tengqm commented on #173
A long time ago, we had something similar in generating mardkown files then convert the markdown files into HTML using downstream renders/engines. That markdown writer was abandoned because we don't think another conversion is necessary.

[2020-10-11 13:50] kbhawkey commented on #154
/remove-lifecycle stale

[2020-10-11 13:51] kbhawkey commented on #154
/remove-lifecycle rotten

[2020-10-11 13:52] kbhawkey commented on #154
Investigate improved navigation. Break up reference into single pages.

[2020-10-11 13:52] kbhawkey commented on #163
Temporarily assigning myself.
/assign

[2020-10-11 13:58] kbhawkey commented on #155
Good to do.
One idea is to create a Hugo repo/submodule and build generated components here.
Incorporate the theme (same version as the website) and some partial layouts (add new layouts for reference materials).
Then, have Hugo pull in the submodule into the website build (Hugo supports this).

[2020-10-11 13:59] kbhawkey commented on #153
/remove-lifecycle rotten

[2020-10-11 14:00] kbhawkey commented on #153
This is still relevant.

[2020-10-11 14:00] kbhawkey commented on #113
/remove-lifecycle rotten

[2020-10-11 14:02] feloy commented on #173
I can see an advantage of creating Markdown at this step, so that this Markdown can be processed by Hugo/Docsy at the same time as the k/website, so the final HTML is homogeneous with the whole k/website.

[2020-10-11 14:22] kbhawkey commented on #173
Do you plan to continue to filter the Open API spec into spec snippets and use these files to generate the individual pages (as an intermediate publishing step)?
I'm not sure it makes sense to create Markdown instead of HTML.
What do you think about adding a Hugo submodule to this repo (#155)?

[2020-10-11 15:59] feloy commented on #173
I don't think it will be necessary to pre-process the openAPI spec, it seems possible to generate individual pages directly from the gen-apidocs program.

I'm not very aware of the possibilities of Hugo: would you prefer to still generate HTML with gen-apidocs, containing only the spec content (no header, no footer, no sidebar, etc), then integrate these HTML snippets into pages (with some shortco

[2020-10-11 22:02] kbhawkey commented on #173
-- If you write out the front matter (and declare the layout type) and place this page in the docs file system, Hugo should build as expected. Or could write a page with the front matter and include an HTML snippet.

-- What about using a [modified] swagger-ui stylesheet and try to replicate the swagger-ui page
components + presentation?  Each page is somewhat contained and displays the nested obj

[2020-10-12 01:01] tengqm commented on #173
My understanding is that @feloy prefers the same look and feel of the rest of the website. Given that we have about 90 resources in 1.19, that means we will need about 90 markdowns, divided into different groups.

**Note** When I say 90, I am treating Deployment for creation and Deployment for update two different things because these two have a little bit difference among their schemas. When crea

[2020-10-12 08:16] sftim commented on #173
How about producing [headless bundles](https://gohugo.io/content-management/page-bundles/#headless-bundle) for each API element (versioned resource)?

How this could work:
1. The reference docs generator fetches the API definitions as OpenAPI
2. The reference docs generator writes a headless bundle for each resource (_example follows_).
    The path to each (headless) leaf bundle is based on the U

[2020-10-13 01:53] kbhawkey commented on #173
- Yes, without evaluating the complexity, I think it makes sense to in-line or keep a resource and its dependencies together.
- If readers want a list of all definitions, you could imagine creating a list of the definitions on a separate page (exclusive of navigating the resources).
- To make the pieces of the API resource page reusable, if possible, create a number of shortcodes to generate the s

[2020-10-13 02:35] tengqm commented on #173
Providing a catalog to all definitions is a good idea!
There is only one place where nesting JSON spec automatically might be problematic. In the `apiextensions.k8s.io/v1` group, there is a definition named `CustomResourceValidation` that references `JSONSchemaProps`. The `JSONSchemaProps` references itself in its definition. We will be trapped into an infinite loop there when parsing the schema.

[2020-10-13 05:47] feloy commented on #173
I would like not to stick too much to Hugo and/or Docsy for the generation of the contents. I would prefer Markdown which is standard nowadays for displaying documentation, or HTML.

I've worked earlier this year on a tool that generates self-contained Markdown for Resources. The sources of the tools are at https://github.com/feloy/kubernetes-resources-reference and the final result is visible at

[2020-10-13 07:01] tengqm commented on #173
@feloy At least to me, all items in your list of features are valuable. When comparing what you in your tools project to what we get from the `gen-apidocs` output, the outstanding differences are:

- What we have is a big HTML, you broke it into smaller pieces, one per resource. Note that before we publish the big HTML, we have small pieces as well. The big HTML was intentionally merged for ease o

[2020-10-13 08:59] sftim commented on #173
Taking a big steer from the approach in https://github.com/feloy/kubernetes-resources-reference sounds good to me.

I hope that we'll still use Hugo whether the tool generates Markdown pages or HTML fragments - because I'd like to let the reference documentation build upon the navigation, sitemap, etc that Docsy provides. I'm happy it's Markdown.
If we want (eg) a PDF, you can render the Markdown

[2020-10-13 09:57] feloy commented on #173
One small advantage I can see in Markdown is that the content of the documentation extracted from the OpenAPI spec can be inserted as is, and it will be considered as Markdown by Hugo. It seems that lots of documentation are using Markdown markup (back-quotes, etc), links are generated for URLs, etc

[2020-10-13 10:05] sftim commented on #173
We should be a bit wary of that. Golang doesn't have any language-level convention for which bits of documentation can be treated as Markdown (it's different in, eg, Rust, where doc comments are defined to be [CommonMark](https://doc.rust-lang.org/edition-guide/rust-2018/rustdoc/rustdoc-uses-commonmark.html)). Unless we're linting upstream code PRs for validity of the Markdown, I would prefer not

[2020-10-13 14:19] kbhawkey commented on #173
It looks like you already have Markdown files generating -- which is nice to build off of.
I think it makes sense to leave the files in Markdown and hand off the pages to other tools to publish
to different formats (if that is a goal). Presumably, you will want to continue to publish your site from this code or
fork off this code.

- I am more concerned about the granularity of the pages. Some pag

[2020-10-13 18:37] feloy commented on #173
The tool supports several backends. I should be able to duplicate the Markdown one and adapt it for this situation.

[2020-10-14 01:07] tengqm commented on #173
In case we want to go back to markdown, https://github.com/kubernetes-sigs/reference-docs/pull/102 was the PR that can be reverted.

[2020-10-15 05:33] feloy commented on #173
I duplicated the Hugo backend of the kubernetes-resources-reference tool to a KWebsite backend and have made small changes to make the links compatible with the k/website.

You can view the result at: https://deploy-preview-23294--kubernetes-io-master-staging.netlify.app/docs/reference/kubernetes-api/ref/

[2020-10-15 05:57] tengqm commented on #173
@feloy Thanks for sharing this. Just spent a few minutes reading the generated docs. I'm a little bit confused by the sections of individual definitions. Take the port specification for a container for example (
https://deploy-preview-23294--kubernetes-io-master-staging.netlify.app/docs/reference/kubernetes-api/ref/workloads/container-/#ports). I'm not clear what the structure of the `ports` prope

[2020-10-15 06:07] feloy commented on #173
@tengqm Yes, I understand the confusion.

Perhaps `ports[*].containerPort` and `ports[*].hostIP` would be clearer, or `ContainerPort.containerPort` and `ContainerPort.hostIP`.

I've made a new version with some newlines that can help the understanding of the structure. In italics, is displayed the documentation of the inlined definition.

[2020-10-16 02:49] tengqm commented on #173
![Screen Shot 2020-10-16 at 10 29 58 AM](https://user-images.githubusercontent.com/5094756/96207196-36497d00-0f9d-11eb-863d-94309bdfa60c.png)

[2020-10-16 17:13] kbhawkey commented on #173
I see your point. Some feedback:
New:
`resources (ResourceRequirements)` is the field with a nested list of the definition. Seems more difficult
to read. May be less difficult if the display of the `ResourceRequirements` definition could be toggled on or off?
Or, could link to the definition. Add the definition at the bottom of the page (list of definitions). In page linking instead of linking to

[2020-10-16 20:10] feloy commented on #173
This is confusing if we remove the full path of the field.

But if we keep the full path (env.valueFrom.fieldRef and not only fieldRef), I find it easy to know where to place this fieldRef in the tree.

I agree that if structures are too much nested, it is difficult to read. For this, I extracted some very nested parts, like pod affinity.

The extracted definitions are placed in the "common defini

[2020-11-20 21:54] mrVectorz opened #174 "Missing a space after ConfigMaps resource"
All other resources have a space after being linked.
[https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#-strong-config-and-storage-apis-strong-](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#-strong-config-and-storage-apis-strong-)

[2020-11-20 21:56] mrVectorz commented on #174
https://github.com/kubernetes-sigs/reference-docs/pull/175

[2020-11-25 11:40] tengqm commented on #151
/remove-lifecycle stale
/lifecycle frozen

[2020-11-30 02:07] tengqm commented on #151
/assign

[2020-12-02 16:01] kbhawkey opened #178 "Update API reference generator for 1.20 release"
Output from running:
[code]
[code]

[2020-12-03 01:24] tengqm commented on #178
- flowcontrol has got a new version v1beta1
- RuntimeClass is v1 now.
- storageversion is a new thing.

I'll fix  this.

[2020-12-03 01:31] kbhawkey commented on #178
I fixed the first two. See PR #180.

[2020-12-03 02:29] kbhawkey commented on #178
See related test PR https://github.com/kubernetes/website/pull/25355

[2020-12-03 14:05] #178 closed

[2020-12-04 20:45] #174 closed

[2020-12-06 12:08] tengqm commented on #135
/remove-lifecycle stale

[2020-12-08 01:57] tengqm commented on #96
/remove-lifecycle stale
/lifecycle frozen

[2020-12-20 21:25] kbhawkey opened #187 "links url encoded, modify link output in Markdown API generator"
Some generated links (Markdown to HTML) contain URL encoded characters, for example:

`https://git.k8s.io/enhancements/keps/sig-network/0007-pod-ready%2B%2B.md`

* Could the API generator update links in the field descriptions, or
* Fix the links in the source code

[code]

[2020-12-20 21:28] kbhawkey commented on #187
Related to https://github.com/kubernetes/website/pull/23294

[2020-12-20 21:31] kbhawkey opened #188 "Separate resource description from list of resource fields, API Markdown reference generator"
Possibly add a separator between the top description and the body of the resource (fields). Otherwise, the two lists blend together.

For example, `StatefulSet`:

[code]
https://deploy-preview-23294--kubernetes-io-master-staging.netlify.app/docs/reference/kubernetes-api/workloads-resources/stateful-set-v1/#StatefulSet

Related to github.com/kubernetes/website#23294

[2021-01-04 22:24] kbhawkey opened #189 "add link to inline type definition block from field type, create sub-component"
It can be confusing to read a field definition followed by the expanded type of the field (another list of fields).
Visually it would be helpful to distinguish this content and provide a linked context.
Is it possible to create a new div (or another component) for the nested content?

Partial output from StatefulSet:

[code]

Is it possible to display multi-nested inline content? I have not come a

[2021-01-04 22:27] kbhawkey commented on #189
@feloy , What do you think about creating a link to the inline content?
An example of this is the `affinity` field in,
https://deploy-preview-23294--kubernetes-io-master-staging.netlify.app/docs/reference/kubernetes-api/workloads-resources/pod-v1/#scheduling

[2021-01-05 19:37] kbhawkey opened #192 "gen-resourcesdocs, remove generation of reference/kubernetes-api/_index.md"
The `gen-resourcesdocs` generator creates an `_index.md` file for `/content/en/docs/reference/kubernetes-api/`.

For example,
https://deploy-preview-23294--kubernetes-io-master-staging.netlify.app/docs/reference/kubernetes-api/

Since this page is an _index section page and only contains a `glossary_definition` shortcode, the page does not need to be
generated continuously. Instead, create the pag

[2021-01-05 19:37] kbhawkey commented on #192
/cc @feloy

[2021-01-05 20:15] kbhawkey opened #193 "migrate site build from travis"
- Investigate how to replace travis with prow or G. actions. Seeking a lightweight solution.
- Build the individual reference doc generator tool source code per pull request.
- Match the release version with latest release version in kubernetes/website/config.toml.
- Create a script or reuse the setup script to pull the release information.

[2021-01-06 18:57] feloy commented on #188
@kbhawkey I think you can close this issue which you resolved with #190

[2021-01-06 19:00] kbhawkey commented on #188
:eyes:

[2021-01-06 20:03] kbhawkey commented on #188
Sure.
/close

[2021-01-06 20:03] #188 closed

[2021-01-06 20:05] feloy commented on #189
@kbhawkey one way would be to indent lists at every level. For the moment, only one indentation is done, ie:

[code]

We could change to:

[code]

This new presentation would make the text less readable in mobile devices if there are too much nested levels, but it seems the max level is 3 in most cases.

[2021-01-07 18:04] kbhawkey commented on #189
Hi @feloy.
It is not clear that more lists (indentation) would help navigate the fields.
I wonder if the name of the field type could be linked to the inline definition or place the definitions in
a separate section at the end of the page?

Current structure of inline content, field lists:
`<field name> (<field type>)` <----- add link here to below
`<field description>`
----> Could add the name of

[2021-01-07 19:06] kbhawkey commented on #189
There appear to be HTML anchor elements generated in the Markdown files, but the links are not output as HTML?
For example, the `boundObjectRef (BoundObjectReference)`:
https://deploy-preview-23294--kubernetes-io-master-staging.netlify.app/docs/reference/kubernetes-api/authentication-resources/token-request-v1/#TokenRequestSpec

[2021-01-07 19:29] feloy commented on #189
Yes, I have already added the anchors so we can create external links directly to a field.

You can see an example of such a link at https://deploy-preview-23294--kubernetes-io-master-staging.netlify.app/docs/concepts/configuration/manage-resources-containers/#what-s-next (Read the **ResourceRequirements** API reference)

We will still need to add links from the Type to the definition.

[2021-01-10 22:07] #192 closed

[2021-01-11 17:12] kbhawkey commented on #153
/close

[2021-01-11 17:12] #153 closed

[2021-01-13 02:17] tengqm opened #198 "Add comment to all generated files"
Now and then we receive direct change requests to the generated files.
We should add a comment to all files we generate to indicate that "This is a auto-generated file, please do not change it directly."

[2021-01-13 14:44] kbhawkey commented on #198
I think it is helpful to create an informational string in the page footer ("auto-generated by <generator>").
I'm not sure I would go as far as asking not to pursue changes to the page.
If the Api reference resource pages use a custom layout, then we could prevent the display of the link
to the default "edit the page/create PR for page" template? This should be straightforward to change.

[2021-01-13 15:00] kbhawkey opened #199 "add id attribute to inline type definition anchors"
The resources generator (`gen-resourcesdocs`) creates anchors to the inline type definitions in a page.
The anchors are used to link to a section in a resource page from an external page using the `api-reference` shortcode.
Add an `id` attribute to the generated HTML anchor element or something like: `<span id="BoundObjectReference">`
Current format:
[code]

Related to https://github.com/kubernete

[2021-01-14 01:03] tengqm commented on #198
Masking out the 'edit/create' buttons would be good.
I'm talking about adding some comments to the generated files in source, so that people will know that this source file is not intended to be manually edited.
For example, https://github.com/kubernetes/website/pull/26035, https://github.com/kubernetes/website/pull/26069,

[2021-01-14 02:13] kbhawkey commented on #198
+1

[2021-01-14 20:49] #173 closed

[2021-01-20 17:24] kbhawkey opened #202 "gen-resourcesdocs: create data file representing object mapping"
This is an initial idea for mapping the location of object definitions per page.
When the `gen-resourcesdocs` writes the Markdown pages, generate a data file containing
the relationship between a page and the objects found on the page.
Use this mapping from a custom shortcode to create a TOC or index of the type definitions and resources.
Why is this needed: The object definitions are found in dif

[2021-01-22 15:38] kbhawkey opened #203 "gen-resourcesdocs, Markdown anchor multi-word text"
This text is displaying on the page:
`Environment variables {#Environment variables}`
https://kubernetes.io/docs/reference/kubernetes-api/workloads-resources/ephemeral-container/#environment-variables-environment-variables

https://kubernetes.io/docs/reference/kubernetes-api/workloads-resources/ephemeral-container/#not-allowed-not-allowed

Fix the anchor text. Add hyphens between words.

[2021-01-22 15:39] kbhawkey commented on #203
/cc @feloy

[2021-01-27 00:23] #203 closed

[2021-02-02 20:45] kbhawkey opened #206 "generate automated section index page for API resource pages"
- Investigate creating a section/index page for the API resource pages.
- Readers could use the site-wide search, but it may help to provide an index to locate the
individual objects.
- Investigate Hugo taxonomies.
- Related to issue #202

[2021-02-18 07:13] tengqm opened #211 "Add description and/or overview to outputs from genref"
This is a feature request from kubernetes/website#26596

We can get this done by amending the config.yaml and the generator.

[2021-02-18 09:38] sftim commented on #211
/kind feature

[2021-02-18 13:31] kbhawkey commented on #211
👀

[2021-02-19 01:36] #151 closed

[2021-03-02 12:45] #134 closed

[2021-03-10 15:57] #154 closed

[2021-03-10 15:57] #155 closed

[2021-03-10 15:57] #163 closed

[2021-03-18 23:52] #211 closed

[2021-03-25 02:31] jihoon-seo opened #217 "update-imported-docs.py fails if GO111MODULE="on""
**This is a Bug Report**

I followed the guide https://kubernetes.io/docs/contribute/generate-ref-docs/quickstart/ .

[My env]
[code]

---

[Steps to reproduce]
[code]

# **Problem:**
According to [website/update-imported-docs/reference.yml](https://github.com/kubernetes/website/blob/master/update-imported-docs/reference.yml),
there are major 3 steps in [website/update-imported-docs/reference.yml]

[2021-03-25 02:41] jihoon-seo commented on #198
It seems that this issue is resolved by #201, and okay to close.
Is this right? :)

[2021-03-25 02:48] tengqm commented on #198
Right. This one can be closed.
/close

[2021-03-25 02:48] #198 closed

[2021-03-25 05:54] jihoon-seo commented on #198
Update:
Files like [content/en/docs/reference/command-line-tools-reference/kube-proxy.md](https://raw.githubusercontent.com/kubernetes/website/master/content/en/docs/reference/command-line-tools-reference/kube-proxy.md) has the comment
(`The file is auto-generated ...`),

but these files don't, even if these files are generated by the `update-imported-docs.py` script too.

- (Links below are from

[2021-03-30 12:16] irvifa commented on #187
/remove-lifecycle stale

[2021-04-10 07:46] feloy opened #226 "It is not possible to use this repository as a git submodule"
It is not possible to use this repository as a git submodule.

Steps to reproduce:

[code]

I can see there is a .gitmodules file in the `docsy-example` directory, but I would suggest it should be in the root directory.

[2021-04-10 10:58] kbhawkey commented on #226
Yes, the addition of the docsy example repo was merged prematurely. It does work as expected.
I need to remove the "inner" repo and look into adding the example sub-tree in a different way.
I think the repository could use a minimal "docsy" file structure and theme sub-module so that we
can test the rendered reference pages. We don't need the entire example repository.

[2021-04-10 21:33] kbhawkey commented on #226
Temporarily assigning myself.

/assign

[2021-04-11 00:54] kbhawkey commented on #193
/remove-lifecycle stale

[2021-04-13 16:21] irvifa commented on #199
/remove-lifecycle stale.

[2021-04-13 16:21] irvifa commented on #199
/remove-lifecycle stale

[2021-04-15 01:35] #226 closed

[2021-04-29 09:16] feloy opened #230 "Removing old apis and configs for gen-resourcedocs"
I wonder if it is necessary to keep the old versions of the API and associated configuration files used to build the Markdown files for the API reference.

[code]

would become:

[code]

I propose to keep only these files for the latest version only (the ones used to generate the pages deployed into the k/website repository).

Also, I'm not sure if these files belong tho this repository, or to the

[2021-05-05 13:43] #135 closed

[2021-05-15 20:04] kbhawkey opened #235 "review tool, generator Go modules, updates from k8s/website"
When updating or pulling in this repository as a sub-module from the k8s/website repository, I noticed that
most or all of this repository's content (tool source code, theme, other files) is copied.
I'd rather not pull down the theme, but limit the update to the source in the tool/generator directories.
Investigate the generator tools and how the Go libraries are packaged for reuse in the k8s webs

[2021-05-15 20:05] kbhawkey commented on #235
/assign

[2021-06-07 20:34] #189 closed

[2021-06-19 18:49] #202 closed

[2021-07-02 22:42] #206 closed

[2021-07-16 10:16] bskiba opened #240 "ScaleStatus and ScaleSpec missing from reference docs."
While the autoscaling/v1 Scale is [included in the docs](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.21/#scale-v1-autoscaling), the autoscaling/v1 ScaleSpec and  autoscaling/v1 ScaleStatus are not.

I checked multiple reference versions (1.21, 1.20, 1,19) and this is true for all of them.

Both types are included in the [swagger.json](https://raw.githubusercontent.com/kubernet

[2021-07-16 11:42] josephburnett commented on #240
/sig autoscaling

[2021-07-23 01:14] tengqm opened #241 "API reference has some types unhandled."
Below are reported at https://github.com/kubernetes/website/issues/29086, but should be tracked here.

Fields with compound / external types such as metav1.Duration are shown as "invalid type":
https://kubernetes.io/docs/reference/config-api/kubeadm-config.v1beta2/#kubeadm-k8s-io-v1beta2-Discovery
see "timeout".

ideally we should show the original type even if it is not clickable / href.
godoc ha

[2021-07-23 08:39] sftim commented on #241
/triage accepted

[2021-07-23 08:39] sftim commented on #241
/kind bug

[2021-07-25 14:33] #241 closed

[2021-07-26 16:55] dashpole opened #243 "Reference Documentation for: TracingConfiguration"
[code]

Complete definition is in https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/apis/apiserver/v1alpha1/types.go

Issue requested during code review of website documentation: https://github.com/kubernetes/website/pull/28843#issuecomment-885336186

/assign @tengqm

[2021-07-27 07:48] #243 closed

[2021-07-27 22:24] sftim opened #245 "PVC dataSource field incorrectly listed as alpha"
https://kubernetes.io/docs/reference/kubernetes-api/config-and-storage-resources/persistent-volume-claim-v1/#alpha-level shows `dataSource` as an alpha field.

The description of that field mentions the word “alpha”, but `dataSource` itself is GA.

[2021-07-28 16:47] sftim opened #246 "Document subresources for API reference"
When a part of the Kubernetes HTTP API includes a subresource, document the subresources.

Related to https://github.com/kubernetes/website/issues/27745 (about `eviction` within `pods`)

[2021-07-28 16:48] sftim commented on #246
/kind feature

[2021-07-29 04:50] tengqm commented on #187
/remove-lifecycle rotten

[2021-08-06 13:59] tengqm opened #250 "Document the process of updating go modules"
This is a request raised from our fellow release team members.
It will help future release team members debugging the go module dependency that is constantly changing.

[2021-08-18 15:19] ShivamTyagi12345 commented on #250
Hey @tengqm.I am a beginner to this Project and am motivated to contribute, I have made my past contributions [Kubernetes/website](https://github.com/kubernetes/website/issues/29353#issuecomment-901157573).

Can I go ahead with this issue . I would appreciate a little initial help.

[2021-08-22 17:04] kbhawkey commented on #193
/close

[2021-08-22 17:04] #193 closed

[2021-08-22 17:05] kbhawkey commented on #113
/close

[2021-08-22 17:05] #113 closed

[2021-09-10 18:03] #199 closed

[2021-09-15 10:13] sftim opened #253 "Rename default branch to “main”"
Let's change the default branch name in this repo from _master_ to _main_. There are lots of good reasons for making that change. The simplest is that _main_ is the default branch name for new repositories in the Kubernetes project.

[2021-09-26 11:00] #230 closed

[2021-10-09 20:21] sftim opened #256 "Generated docs have broken link to “contribute upstream”."
(Some of the) autogenerated documentation starts with a note that the doc is autogenerated and that people interested in editing should refer to https://github.com/docs/contribute/generate-ref-docs/contribute-upstream/

That is a broken link.

[2021-10-12 20:52] #235 closed

[2021-11-20 18:48] sftim commented on #240
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.21/ is a deprecated format @bskiba

However the newer pages within https://kubernetes.io/docs/reference/kubernetes-api/ also don't document this well.

/remove-lifecycle rotten

[2021-11-24 23:38] sftim commented on #245
/remove-lifecycle rotten

[2021-12-26 06:11] #187 closed

[2022-01-15 16:32] #250 closed

[2022-02-12 13:09] #253 closed

[2022-02-12 15:32] kbhawkey commented on #253
/remove-lifecycle stale

[2022-02-24 00:06] kbhawkey commented on #245
/remove-lifecycle rotten

[2022-03-09 11:54] #256 closed

[2022-04-21 22:25] sftim commented on #240
/remove-lifecycle rotten
/reopen

Still a good improvement to make: we could document various subresources better.

[2022-04-25 01:01] #245 closed

[2022-06-15 03:32] javadoors opened #282 "[website]Unable to load specs and/or toc config: Resource policy/v1beta1/PodSecurityPolicy not found in spec"
**This is a Bug Report**

**Problem:**
When I execute the command below in website repo , an error occurs:
[code]
**Proposed Solution:**
No errors appear.

- repo  https://github.com/kubernetes/website
- branch master
-

[Chip Zoller](https://app.slack.com/team/UH4J4P42D)  [晚上 7:35]
PSP is removed in 1.25 so they probably have dropped it in docs as well.

[2022-07-22 11:15] Arhell opened #286 "update links"
http=>https
/assign

[2022-07-24 07:16] #286 closed

[2022-07-25 11:39] Arhell opened #288 "folder question"
@tengqm gen-api docs folder and other folders auto generated? Does it make sense to edit links there? on https

[2022-07-26 03:59] tengqm commented on #288
Don't quite understand your question. Most of the files under these directories are source code. There are some template files which can be updated if needed.

[2022-07-26 06:52] #288 closed

[2022-07-28 13:33] Arhell opened #289 "update links"
http=>https
/assign

[2022-08-18 14:43] vaibhav2107 commented on #240
/remove-lifecycle stale

[2022-08-25 02:47] howieyuen opened #293 "invalid format for Quantity (k8s.io/apimachinery/pkg/api/resource)"
Kubernetes Code:
https://github.com/kubernetes/kubernetes/blob/26842bb0c8fcf89885798a2ebd9a97cd104e78bf/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go#L37

[code]

Website doc:
https://github.com/kubernetes/website/blame/main/content/en/docs/reference/kubernetes-api/common-definitions/quantity.md#L33

[code]

[2022-09-10 12:22] amolmote opened #295 "Duplicacy in the sentences and lists"
Problem description:
visit this page [in-depth-monoliths-detailed-spec.md](https://github.com/kubernetes-sigs/reference-docs/blob/master/content/en/blog/releases/in-depth-monoliths-detailed-spec.md) and this page also [second-post.md](https://github.com/kubernetes-sigs/reference-docs/blob/master/content/en/blog/news/second-post.md)

- redundancy of this sentence `There should be white-space betwee

[2022-09-10 12:26] amolmote commented on #295
/assign

[2022-09-12 09:27] #289 closed

[2022-09-17 05:52] amolmote opened #297 "Broken link issue need to fix"
## Bug Report
*Problem*
[This page ](https://github.com/kubernetes-sigs/reference-docs/blob/master/CONTRIBUTING.md) has one broken link of `contributor cheat sheet` which needs to fix.

*solution*
need to locate the correct path of README.

/assign
/kind bug
/kind documentation

[2022-09-17 12:52] #297 closed

[2022-11-12 05:04] #282 closed